### VS CODE ###

.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets

# Local History for Visual Studio Code
.history/

# Built Visual Studio Code Extensions
*.vsix

### COD 5 MOD FILES ###

console.log
aitype/
assettgtcache/
bin/
convertcache/
deffiles/
detail_maps/
devraw/
DirectX/
Docs/
export_errors/
installers/
main/
map_source/
mods/
pb/
raw/
sound_assets/
zone/
zone_source/
10090_install.vdf
binkw32.dll
cod.bmp
codlogo.bmp
CoDWaW.exe
CoDWaW.ico
CoDWaWmp.exe
End User License Agreement (Release of Map Tools to the Public for Call of Duty WW-PC).doc
install.log
localization.txt
mp_tool.exe
README.txt
sp_tool.exe
version.inf
model_export/viewmodels.gdt
model_export/viewmodels
model_export/american
xanim_export/viewmodel
xanim_export/xanim_viewmodel.gdt
model_export/anim_dependancies/base_character/base_character.XMODEL_EXPORT
source_data/COD4_from_MOD_TOOLS_weaponsettings_mp.bak
source_data/COD4_MP_weaponsettings_mp.bak
source_data/cod4_weaponsettings_mp.bak
source_data/levels.gdt
source_data/locationdamage.gdt
source_data/modelmatch.csv
source_data/multiplayercontrollers.csv
source_data/multiplayerstabilizers.csv
source_data/partclassification_mp.csv
source_data/partclassification.csv
source_data/physconstraints.gdt
source_data/physicsettings.gdt
source_data/rumble.gdt
source_data/turretsettings_mp.gdt
source_data/turretsettings.gdt
source_data/vehiclesettings_mp.gdt
source_data/vehiclesettings.gdt
source_data/vehiclesettings.gdt_old
source_data/weaponsetting_british.bak
source_data/weaponsettings_mp.gdt
source_data/weaponsettings.gdt
source_data/string_resources/ac130.st
source_data/string_resources/bog_b.st
source_data/string_resources/cargoship.st
source_data/string_resources/cobrapilot.st
source_data/string_resources/descent.st
